<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    FirstTeam
 * @package     Fashionpay_FirstTeam
 * @copyright   Copyright (c) 2009-2015 FirstTeam.
 */
-->
<config>
    <modules>
        <FirstTeam_Fashionpay>
            <version>0.9.0</version>
        </FirstTeam_Fashionpay>
    </modules>
    <global>
		  <helpers>
		  	   <Fashionpay>
		  	   	   <class>FirstTeam_Fashionpay_Helper</class>
		  	   </Fashionpay>
		  </helpers>	
        <models>
            <Fashionpay>
                <class>FirstTeam_Fashionpay_Model</class>
                <resourceModel>Fashionpay_mysql4</resourceModel>
            </Fashionpay>
            <Fashionpay_mysql4>
                <class>FirstTeam_Fashionpay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>Fashionpay_api_debug</table></api_debug>
                </entities>
            </Fashionpay_mysql4>
        </models>
        <resources>
           
            <Fashionpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Fashionpay_write>
            <Fashionpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Fashionpay_read>
        </resources>
        <blocks>
            <Fashionpay><class>FirstTeam_Fashionpay_Block</class></Fashionpay>
    	</blocks>
        <payment>
            <FirstTeam>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </FirstTeam>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <FirstTeam>/Fashionpay/payment</FirstTeam>
        </secure_url>
        <routers>
            <Fashionpay>
                <use>standard</use>
                <args>
                    <module>FirstTeam_Fashionpay</module>
                    <frontName>firstteam</frontName>
                </args>
            </Fashionpay>
        </routers>
        <translate>
            <modules>
                <FirstTeam_Fashionpay>
                    <files>
                        <default>FirstTeam_Fashionpay.csv</default>
                    </files>
                </FirstTeam_Fashionpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <Fashionpay>
                    <file>Fashionpay.xml</file>
                </Fashionpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FirstTeam_Fashionpay>
                    <files>
                        <default>FirstTeam_Fashionpay.csv</default>
                    </files>
                </FirstTeam_Fashionpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <FirstTeam>
                  <model>Fashionpay/payment</model>
                  <title>Credit Card Payment Online</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </FirstTeam>
        </payment>
    </default>
</config>
