<?xml version="1.0"?>

<config>
    <modules>
        <Company_Card>
            <version>0.1.0</version>
        </Company_Card>
    </modules>
    <global>
        <models>
            <card>
                <class>Company_Card_Model</class>
                <resourceModel>card_mysql4</resourceModel>
            </card>
            <card_mysql4>
                <class>Company_Card_Model_Mysql4</class>
                <entities>
                    <api_debug><table>card_api_debug</table></api_debug>
                </entities>
            </card_mysql4>
        </models>
        <resources>
            <card_setup>
                <setup>
                    <module>Company_Card</module>
                    <class>Company_Card_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </card_setup>
            <card_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </card_write>
            <card_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </card_read>
        </resources>
        <blocks>
            <card><class>Company_Card_Block</class></card>
    	</blocks>
    	<helpers>
	        <card>
	        	<class>Company_Card_Helper</class>
	        </card>
        </helpers>
        <payment>
            <card_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </card_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <card_payment>/card/payment</card_payment>
        </secure_url>
        <routers>
            <card>
                <use>standard</use>
                <args>
                    <module>Company_Card</module>
                    <frontName>card</frontName>
                </args>
            </card>
        </routers>
        <translate>
            <modules>
                <Company_Card>
                    <files>
                        <default>Company_Card.csv</default>
                    </files>
                </Company_Card>
            </modules>
        </translate>
        <layout>
            <updates>
                <card>
                    <file>card.xml</file>
                </card>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Company_Card>
                    <files>
                        <default>Company_Card.csv</default>
                    </files>
                </Company_Card>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <card_payment>
                  <model>card/payment</model>
                  <title>CreditCard</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </card_payment>
            <!--merchant_no>10003</merchant_no-->
        </payment>
    </default>
</config>
